<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Into The Temple</title> 
	<link rel="stylesheet" href="~/css/site.css" />
	<script src="~/js/site.es5.min.js"></script>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body> 
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
